@media screen and (max-width: 1470px) {
   
    .home_sec6{
        margin-left: 0;
        margin-top: 24vh;
        
    }
    .home_sec6 h1{
        font-size: 40px;
    }
    .home_sec6 p{
        font-weight: 400px;
        font-size: 16px;
    }
}
@media screen and (max-width: 1325px) {
  
}
@media screen and (max-width: 1325px) { 
    .home_sec6 h1{
        font-size: 35px;
        line-height: 40px;
    }
    .home_sec6 p{
        font-size: 15px;
        font-weight: 600;
    }
    .home_sec1{
        grid-template-columns: 1fr 1.5fr;
    }
    .home_sec4{
       
        margin-bottom: 40px;
        left: 10%;
        width: 80%;
    }
    .home_sec3{
        height: 100vh;
    }
    .home_sec2{
        margin-bottom: 40px;
    }
}
@media screen and (max-width: 1070px) {
    .home_sec3{
        display: none;
    }
    .home_sec1{
        grid-template-columns: 1fr;
    }
    .home_sec4{
        width:100% ;
        height: 300px;
        display: flex;
        justify-content: center;
        left: 0%;
        top: 10vh;
    }
    .home_sec4 img{
        width: 300px;
        height: 300px;
        border-radius: 50%;
    }
    .home_sec5{
        margin-top: 0vh;
        display: flex;
        justify-content: center;
        
    }
    .home_sec6{
        margin-top: 50vh;  
        
    }
}
@media screen and (max-width: 600px) {
    .home_sec6{
        margin-top: 50vh; 
        width: 400px; 
    }
    .home_sec6 p{
        font-size: 16px;
        font-weight: 300;
    }
}
@media screen and (max-width: 500px) {
    .home_sec4{
        height: 250px;
    }
    .home_sec4 img{
        height: 250px;
        width: 250px;
    }
    .home_sec6{
        margin-top: 45vh;
        width: 360px; 
    }
    .home_sec6 h1{
        
        font-size: 25px;
        word-spacing: 0cap;
    }
    .home_sec6 p{
        font-weight: 100;
        margin-top: 20px;
    }
    .text{
        font-size: 13px;
    }
}
@media screen and (max-width: 400px) {
    .home_sec6{
        width: 320px;
    }
    .home_sec6{
        margin-top: 35vh;
    }
    .home_sec4{
        height: 200px;
    }
    .home_sec4 img{
        height: 200px;
        width: 200px;
    }
}
