*{
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
}
.header3{
    width: 70%;
    margin-left: 15%; 
}
         
.first_project{
  width: 100%;
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 30px;
  margin-top: 60px;
}
.project3{
 
 
  margin-bottom: 30px;
}
.project1_image{

  height: 500px;
  overflow: auto;
}
.project1_image img{
 width: 100%;
}
.project1_description{
  margin-top: 40px;
  display: flex;
  flex-direction: column;
  /* justify-content: space-around; */
}
.project1_description h2{
  color: white;
 margin-left: 20px;
  font-weight: bold;
}
.project1_description p{
color: white;
text-align: left;
line-height: 25px;
font-size: 18px;
margin:20px ;
}
.project1_description div{
  display: flex;
  z-index: -1;
}
.project1_description button{
  width: 150px;
  margin-left: 30px;
  height: 50px;
  border-radius: 25px;
  border: 2px solid palevioletred;
  background: none;
  font-weight: bold;
  color: white;
  font-size: 15px;
  cursor: pointer;
  margin-top: 20px;
  
  position: relative;
  overflow: hidden;
}
.project1_description button span{
  position: absolute;
  content: "";
  top: 0%;
  left: -100%;
  width: 100%;
  background-color: palevioletred;
  height: 100%;
  border-radius: 24px;
  z-index: -1;
  transition: all .3s ease-in-out;
}
.project1_description button:hover span{
  left: 0%;
  transition: all .3s ease-in-out;
}
.text_utility img{
  width: auto;
  overflow-x: auto;
  height: 100%;
}

@media screen and (max-width:1200px) {
  .header3{
    width: 80%;
    margin-left: 10%;
  }
}
@media screen and (max-width:1000px) {
  .header3{
    width: 80%;
    margin-left: 10%;
  }
  .first_project{
    /* height: 600px; */
    grid-template-columns: 1fr;
  }
  .project1_image{
    height:600px;
  }
}
@media screen and (max-width:850px) {
  .first_project{
    /* height: 1000px; */
    grid-template-columns: 1fr;
  }
}
@media screen and (max-width:450px) {
  .first_project{
    
   
  }
  .first_project button{
    margin-left: 10px;
    width: 130px;
    margin-bottom: 30px;
  }
  .project1_image{
    display: none;
  }

  .header3{
    width: 90%;
    margin-left: 5%;
  }
}