*{
  margin: 0;
  padding: 0cqb;
  box-sizing: border-box;
}




#acquabor{
  border: 8px solid #55efc4;
}
#acquah:hover{
  background-color: #55efc4;
  transition: all .3s ease-in-out;
}
#acqua{
  background-color: #55efc4;
}
#acquas{
  color: #55efc4;
}
#acquad{
  background-color: #55efc4;
}
#acquab{
  border:2px solid #55efc4;
}
#yellowbor{
  border: 8px solid #ffb400;
}
#yellowh:hover{
  background-color: #ffb400;
  transition: all .3s ease-in-out;
}
#yellow{
  background-color: #ffb400;
}
#yellowb{
  border: 2px solid #ffb400;
}
#yellows{
 color: #ffb400;
}
#picoh:hover{
  background-color: #fd79a8;
  transition: all .3s ease-in-out;
}
#picobor{
  border: 8px solid #fd79a8;
}
#pico{
  background-color: #fd79a8;
}
#picob{
  border: 2px solid #fd79a8;
}
#picos{
 color: #fd79a8;
}
#orangeh:hover{
  background-color: #e17055;
  transition: all .3s ease-in-out;
}
#orangebor{
  border: 8px solid #e17055;
}
#orange{
  background-color: #e17055;
}
#orangeb{
  border: 2px solid #e17055;
}
#oranges{
  color: #e17055;
}
#blueh:hover{
  background-color: #0652DD;
  transition: all .3s ease-in-out;
}
#bluebor{
  border: 8px solid #0652DD;
}
#blue{
  background-color: #0652DD;
}
#blueb{
  border: 2px solid #0652DD;
}
#blues{
  color: #0652DD;
}
#roseh:hover{
  background-color: #FDA7DF;
  transition: all .3s ease-in-out;
}
#rosebor{
  border: 8px solid #FDA7DF;
}
#rose{
  background-color: #FDA7DF;
}
#roseb{
  border: 2px solid #FDA7DF;
}
#roses{
  color: #FDA7DF;
}
#diskoh:hover{
  background-color: #0fbcf9;
  transition: all .3s ease-in-out;
}
#diskobor{
  border: 8px solid #0fbcf9;
}
#disko{
  background-color: #0fbcf9;
}
#diskob{
  border: 2px solid #0fbcf9;
}
#diskos{
  color:#0fbcf9 ;
}
#redh:hover{
  background-color: #f53b57;
  transition: all .3s ease-in-out;
}
#redbor{
  border: 8px solid #f53b57;
}
#red{
  background-color: #f53b57;
}
#redb{
  border: 2px solid #f53b57;
}
#reds{
  color: #f53b57;
}
#greenh:hover{
  background-color: #05c46b;
  transition: all .3s ease-in-out;
}
#greenbor{
  border: 8px solid #05c46b;
}
#green{
  background-color: #05c46b;
}
#greenb{
  border: 2px solid #05c46b;
}
#greens{
  color: #05c46b;
}